# Build
**/bin/
**/obj/

# Visual Studio
.vs/

# User-specific files
*.user
*.suo

# Environment variables / secrets
.env

# UserService
UserService/


actions-runner/
compose.prod.yml.save

# Kubernetes secrets
k8s/*/secret.yaml
